<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form method="POST" action="">
      <h1>Registration Form</h1>
      <label for="">Username</label>
      <input name="username" type="text">
      <label for="">Mobile</label>
      <input name="mobile"type="text">
      <label for="">Address</label>
      <input name="address" type="text">
      <label for="">Email</label>
      <input name="email"type="text">
      <label for="">Password</label>
      <input name="password" type="text">
      <button>submit</button>
    </form> 
</body>
</html>